*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.name
/.idea/sonarlint/issuestore/1/e/1eebeb41627547d988d317860b3d84c14c7ed692
/.idea/sonarlint/issuestore/3/a/3a6213093364ce23b72084917500233828a1b2bc
/.idea/sonarlint/issuestore/4/f/4fee9f2b6c3b861a0b41a825315994b44ba32956
/.idea/sonarlint/issuestore/5/f/5fa6b5957b59e1d6fbbb9912b603b6aaf20074da
/.idea/sonarlint/issuestore/7/b/7b316fde8af8410fec193768dca93b56a29ea913
/.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/1/0/10ab23a38395fbcb52778a2cdadb93f952e4d76c
/.idea/sonarlint/issuestore/1/0/10ee4e638a0964a3db2bd6850bdd0b97c0847a31
/.idea/sonarlint/issuestore/2/9/29eb0b974c9b51e32e2e5b9316d42caf42fdc6b7
/.idea/sonarlint/issuestore/0/0/00839e2e6b8ff413ed1de7bbe622b99c2c18d806
/.idea/sonarlint/issuestore/2/1/21350539b83a7baaf1f57a09c4bfff8336aed081
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/sonarlint/issuestore/d/1/d19fd7837fd067100bc1e6293578bce8087f7116
/.idea/sonarlint/issuestore/f/0/f0f8622f4b5e0a769e4db134c7b34ed653ccc0a4
/.idea/sonarlint/issuestore/f/f/ffe4f2efb0f9b63f7ed52fa8fcf2801de7db45e1
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
